@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap');
.App {
  text-align: center;
  overflow-x: hidden;
}

@media (orientation: landscape) {
  .video-ratio {
    --bs-aspect-ratio: calc(9 / 16 * 100%);
  }
}

@media (orientation: portrait) {
  .video-ratio {
    --bs-aspect-ratio: 100%;
  }
}