@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@300;600;700&display=swap');
.App {
  text-align: center;
}

@media (orientation: landscape) {
  .video-ratio {
    --bs-aspect-ratio: calc(9 / 16 * 100%);
  }
}

@media (orientation: portrait) {
  .video-ratio {
    --bs-aspect-ratio: 100%;
  }
}